<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>friction</key>
		<real>0.949999988079071</real>
		<key>height</key>
		<real>150</real>
		<key>mass</key>
		<real>10</real>
		<key>origin_x</key>
		<real>124</real>
		<key>origin_y</key>
		<real>330</real>
		<key>restitution</key>
		<real>0</real>
		<key>rotation</key>
		<real>0</real>
		<key>superview</key>
		<string>gam</string>
		<key>type</key>
		<integer>0</integer>
		<key>width</key>
		<real>225</real>
	</dict>
	<key>2</key>
	<dict>
		<key>friction</key>
		<real>0.949999988079071</real>
		<key>height</key>
		<real>90</real>
		<key>mass</key>
		<real>20</real>
		<key>origin_x</key>
		<real>655</real>
		<key>origin_y</key>
		<real>390</real>
		<key>restitution</key>
		<real>0</real>
		<key>rotation</key>
		<real>0</real>
		<key>superview</key>
		<string>gam</string>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<real>90</real>
	</dict>
	<key>3</key>
	<dict>
		<key>blocktype</key>
		<integer>3</integer>
		<key>friction</key>
		<real>0.949999988079071</real>
		<key>height</key>
		<real>130</real>
		<key>mass</key>
		<real>39</real>
		<key>origin_x</key>
		<real>465</real>
		<key>origin_y</key>
		<real>350</real>
		<key>restitution</key>
		<real>0.6000000238418579</real>
		<key>rotation</key>
		<real>0</real>
		<key>superview</key>
		<string>gam</string>
		<key>type</key>
		<integer>2</integer>
		<key>width</key>
		<real>30</real>
	</dict>
	<key>info</key>
	<dict>
		<key>life</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
